<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="shortcut icon" href="#">
	<link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
	<form id="search" th:action="@{/search}">
		<input placeholder="Enter a partial of full course number" type="text" name="courseNumber" required>
		<button type="submit">Search</button>
	</form>
	<h4 id="error" th:text="${error}"></h4>
	<a th:href="@{/}">Back to schedule</a>
	<div id="courses-parent" th:each="course : ${courses}">
		<h3 th:text="${course.getCourseNumber() + ' ' + course.getCourseTitle()}"></h3>
		<div class="sections-parent">
			<h4 th:text="${course.getCourseDescription()}"></h4>
			<form th:action="@{/addCourse}" method="post">
				<select name="sectionId">
					<option th:value="0">All</option>
					<option th:each="section : ${course.getSections()}" th:text="'Section ' + ${section.getSection()}" th:value="${section.getSectionId()}"></option>
				</select>
				<input type="hidden" name="courseId" th:value="${course.getCourseId()}">
				<button type="submit">Select</button>
			</form>	
		</div>
	</div>
</body>
</html>